.body-faq{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 30px;
    margin: 1em;
}

.faq-section {
    padding: 4em 2em;
}

.faq {
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
}

.faq li {
    background: var(--color-primary);
    border-radius: 1px #ccc solid;
}

.faq li:first-child {
    border-top: 1px #ccc solid;
}

.q {
    padding: 1em;
    border-left: 10px transparent solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;

}

.q:hover,
.q:hover.arrow {
    border-left-color: var(--color-secundary);
}

.arrow {
    display: inline-block;
    margin: 0 0.5em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 16px solid var(--color-secundary);
    border-bottom: 10px solid transparent;
    transition: .5s ease-in-out;
}

.faq p {
    color: var(--color-light);
    line-height: 25px;
}

.a {
    overflow: hidden;
    height: 0;
    padding: 0 1em 0 3.3em;
    transition: all 0.5s ease-in;
}

.a-oppened {
    padding: 1em 1em 2em 3.3em;
    height: initial;
    transition: all 0.5s ease-in-out;


}

.arrow-rotated {
    transform: rotate(90deg);
}