:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #0c1137;
  --color-secundary: #00dbff;
  --color-third: #0061ff;
  --color-forty:#11163d ;
  --color-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
  color: var(--color-light);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
}