body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-primary);
}



span {
  color: var(--color-secundary);
}

/* HEADER CONFIG */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.logo-header {
  height: 2rem;
  border-radius: 2rem;
}

.title-header {
  font-size: 35px;
}

.line {
  width: 100%;
  opacity: 0.2;
}

/* TITLE CONFIG */
.container-title {

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.title-main{
  font-size: 35px;
}



/* FORM CONFIG START*/
.container-form-start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.title-container-form-start {
  width: 60%;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

.form-box-start {
  width: fit-content;
  padding: 2rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border: 1px solid var(--color-light);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

input {
  padding: 10px 0;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: none;

}

select {
  padding: 10px 0;
  padding-left: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}

.button-form {
  color: var(--color-light);
  background-color: var(--color-third);
  padding: 15px 30px;
  margin: 0 auto;
  width: 250px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5rem;
  font-size: 18px;
  margin-top: 1rem;
}

.button-form:hover {
  opacity: 0.9;
}



.form-img {
  border-radius: 0.5rem;
  height: 420px;

}

/* ABOUT TECH LEGION CONFIG */
.section-about {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;

  gap: 50px;
}

.title-about {
  font-size: 35px;
}

.container-img-and-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.paragraph-about {
  width: 600px;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

.img-about {
  width: 300px;
}

/* DESIGNER DESCRIPTION AND SERVICES CONFIG */
.container-designer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.title-designer{
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.paragraph-about-2 {
  width: 600px;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 4rem;
}

.image-designer-pc {
  height: 400px;
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 2rem;
  width: 1280px;
  margin: 4rem auto;

}

.card {
  border: 1px solid var(--color-third);
  padding: 30px;
  width: 600px;
  border-radius: 2rem;
  background-color: transparent;
}

.card-image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.title-card {
  text-align: center;
  font-size: 25px;
}

.paragraph-card {
  font-size: 20px;
}

.box-card {
  margin-top: 40px;
  display: flex;
  gap: 30px;

}

/* SOCIAL IMPACT CONFIG */

.social-impact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 4rem auto;
}


.social-impact-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.impact-title{
  font-size: 35px;

}

.impact-subtitle{
  font-size: 30px;

}

.impact-banner-1 {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.impact-banner-2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.impact-banner-3 {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.title-social-impact {
  font-size: 30px;
}

.impact-texts-container-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  text-align: left;
}

.impact-texts-container-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  text-align: right;
  width: 40%;
}

.impact-texts-container-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  text-align: left;
}

.title-social-impact{
  font-size: 25px;
}

.text-social-impact{
  font-size: 20px;
}

.social-impact-img-1 {
  height: 250px;
  width: 400px;
  border-radius: 0 150px 150px 0;
  object-fit: cover;

}

.social-impact-img-2 {
  height: 250px;
  width: 400px;
  border-radius: 150px 0 0 150px;
  object-fit: cover;


}

.social-impact-img-3 {
  height: 250px;
  width: 400px;
  border-radius: 0 150px 150px 0;
  object-fit: cover;


}

/* FORM CONFIG END*/
.container-form-end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.title-container-form-end {
  width: 60%;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.form-box-end {
  width: 800px;
  padding: 60px 0;
  border-radius: 1rem;
  border: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border: 1px solid var(--color-light);
}
.form-end {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.input-form-end {
  padding: 20px 0;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: none;
  width: 600px;
  font-size: 18px;

}

.select-form-end {
  padding: 20px 0;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}
/* FAQ CONFIG */

.faq {
  margin-bottom: 10px;
}

.question {
  cursor: pointer;
  font-weight: bold;
}

.answer {
  display: none;
  margin-top: 5px;
}

.title{
  font-size: 25px;
}

.question{
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 200px;

}

.title-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  font-size: 18px;
}

.subtitle-social-media{
  font-size: 22px;
}


.container-text-social-media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  
}

.social-media {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.card-social-media {
  height: 150px;
  width: 120px;
  border: 1px solid var(--color-light);
  border-radius: 10px;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  text-transform: uppercase;
  opacity: .5;

}

.card-social-media:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;

}

.card-social-media:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


.logo-social-media {
  width: 32px;
}